<div class="card">
    <ul class="list-group list-group-flush">
        <div class="p-2">
            <form class="d-flex" action="{% url 'workspace' %}" method='GET'>
                <input class="form-control me-2" name='search1' type="search" 
                    value='{{ request.GET.search1 }}' aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        <li class="list-group-item d-flex justify-content-between">
            <a href="{% url 'workspace_categories' %}">Categories</a> 
        </li>
        <li class="list-group-item d-flex justify-content-between">
            <a href="{% url 'workspace_tags' %}">Tags</a>
        </li>
    </ul>
    <div class="d-flex gap-4 p-2">
        <div>
            categories:
            {% if categories %}
                {% for category in categories %}
                    <div><a href="{% url 'workspace_filter_news_by_cat' id=category.id%}">{{ category.name }}</a></div>
                {% endfor %}
            {% endif %}
        </div>
        <div>
            tags:
            {% if tags %}
                {% for tag in tags %}
                    <div><a href="{% url 'workspace_filter_news_by_tag' id=tag.id%}">{{ tag.name }}</a></div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="p-2">
        <a href="{% url 'workspace' %}">Back to main page</a>
    </div>
</div>